@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-tiffany: #3AD3CA;
    --preto: #000000;
    --branco: #ffffff;
    --cinz-claro: #aeaeae;
    --texto-titulo:"Comfortaa", sans-serif;
    --texto-corpo: "Raleway", sans-serif;
}

body{
    background-color: var(--preto);
    color: var(--azul-tiffany);
    font-family: var(--texto-titulo);
}

.titulo-principal{
    font-family: var(--texto-titulo);
}












